*
{
font-family: 'Jura', sans-serif;
}
.frames
{
width:80%;
height:70%;
}

.table_input_output img
{
width:24px;
height:24px;
margin:3px;
vertical-align:middle;
}

.table_input_output span
{
font-size:11px;
}

.devices
{
background-color:rgba(255,0,0,0.4);
color:white;
border-radius:5px;

}
.devices td
{
width:20%;
}
#frames
{
width:100%;
}
#frames td
{
width:16%;
}

#thanks_and_footer
{
position:fixed;
right:10px;
bottom:40px;
background-color:rgba(255,0,0,0.4);
border-radius:5px;
padding:5px;
}

#video
{
position:fixed;
right:50px;
top:10px;
width:200px;
height:200px;
background-color:rgba(0,0,255,0.6);
border-radius:5px;
padding:5px;
}
